.my-navbar {
  background: white;
  padding: 15px;
}

.navbar-brand {
  color: black !important;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 25px;
}

a.nav-link {
  color: black !important;
  margin-right: 22px;
  margin-left: 22px;
  font-size: 16px;
}

a.text-body:hover {
  color: darkgray !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {

    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-top: 15px;
}

.form-control {
  margin-top: 15px;
}

.logo {
  margin-left: 2px;
  height: 60px;
  width: 70px;
}

.navbar {
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

.card {
  width: 25rem;
  height: 22em;
  margin-top: 150px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
}

.ebsco {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.careers {
  height: 248px;
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.jstor {
  height: 245px;
  width: 405px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.proquest {
  height: 275px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  display: block;
  padding: 12px;
  margin-bottom: -20px;
}

.nfb {
  height: 200px;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.ted {
  height: 200px;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.learn {
  height: 200px;
  width: 305px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.library {
  height: 230px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  display: block;
  padding: 15px;
  margin-bottom: -8px;
}

.curio {
  height: 200px;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.grolier {
  height: 220px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.university {
  height: 200px;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  display: block;
  padding: 15px;
  margin-bottom: 20px;
}

.teens {
  height: 200px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.naxos {
  height: 200px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.postmedia {
  height: 200px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.google {
  height: 200px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.alexandria {
  height: 220px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: -12px;
}

.globe {
  height: 200px;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.cision {
  height: 150px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 83px;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
}

.reuters {
  height: 190px;
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

.war {
  height: 190px;
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

.canada {
  height: 190px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

.museum {
  height: 175px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 57px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

.cia {
  height: 215px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

.statistics {
  height: 100px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

.onelook {
  height: 130px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 118px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

.container {
  padding: 8px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.form-control {
  border: 1px solid black !important;
}

.form-control-feedback {
  color: black !important;
}

h4 {
  text-align: center;
  color: black;
  letter-spacing: 2px;
  margin-top: 22px;
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: lightgray;
  top: 225px;
  left: 0;
  right: 0;
  height: 2.5px;
  z-index: -0;
}

.row-m-t {
  margin-top: -100px;
}
