.my-navbar {
  background: white;
  padding: 15px;
}

.navbar-brand {
  color: black !important;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 25px;
}

a.nav-link {
  color: black !important;
  margin-right: 22px;
  margin-left: 22px;
  font-size: 16px;
}

a.text-body:hover {
  color: darkgray !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {

    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-top: 15px;
}

.form-control {
  margin-top: 15px;
}

.big-banner {
  background-image: url('../images/book.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.overlay {
  position: absolute;
  top: 225px;
  background-color: WhiteSmoke;
  width: 100%;
  opacity: 0.6;
  padding: 100px;
}

h2 {

  position: absolute;
  width: 100%;
  top: 275px;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 60px;

}

.overlay2 {
  position: absolute;
  background-color: silver;
  top: 580px;
  left: 0;
  right: 0;
  height: 55px;
  z-index: -0;
}

.overlay3 {
  position: absolute;
  background-color: GhostWhite;
  top: 592px;
  left: 0;
  right: 0;
  height: 30px;
  z-index: -0;
}

.text {
  text-align: left;
  color: black;
  letter-spacing: 2px;
  margin-left: 20px;
}

.container {
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
  padding: 25px;
  margin-left: 50px;
  margin-right: 0;
  width: 100%;
}

.img1 {
  height: 150px;
  width: 250px;
  float: left;
  margin-top: 75px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

h4 {
  text-align: center;
  color: black;
  letter-spacing: 2px;
}

.logo {
  margin-left: 2px;
  height: 60px;
  width: 70px;
}

.navbar {
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

.form-control {
  border: 1px solid black !important;
}

.form-control-feedback {
  color: black !important;
}

table {

  margin-left: 150px;
  border-collapse: separate;
  border-spacing: 10px 0;
}

td {
  padding-top: 0px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-align: center;
}


th {
  padding-top: 20px;
  padding-left: 45px;
  padding-bottom: 50px;
  text-align: center;
}
